<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">

  <variable name="minLogLevel" value="info" />

  <targets>
    <target name="Console" xsi:type="ColoredConsole"
            layout="${date:universalTime=True:format=HH\:mm\:ss.ff} | ${level:upperCase=true} | ${message} ${exception:format=Message,StackTrace:separator=\r\n}">
      <highlight-row condition="level &gt;= LogLevel.Fatal" foregroundColor="White" backgroundColor="Red"/>
      <highlight-row condition="level &gt;= LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level &gt;= LogLevel.Warn" foregroundColor="Yellow"/>
      <highlight-row condition="level &gt;= LogLevel.Info" />
      <highlight-row condition="level &gt;= LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-word text="INFO" foregroundColor="Green" />
      <highlight-word text="WARN" foregroundColor="Black" backgroundColor="Yellow" />
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.*" finalMinLevel="warn" />
    <logger name="*" minlevel="${minLogLevel}" writeTo="Console" />
  </rules>

</nlog>
